.my-message {
    float: right;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.not-my-message {
    float: left;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.list-group-item {
    border: none;
}
.list-group {
    border: 1px solid lightgrey;
}